*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body {
    background-color:palegoldenrod;
    min-height:100%;
    max-width:400px;
    
  }


.container{



 display:flex;
flex-direction:column;


}

.pic img {
    width:300px;
    height:320px;
    border:8px solid black;
    top:235px;
    left:55%;
    position:absolute;
   
   
}

    
.name h1{
    font-size:60px;
    font-weight:bold;
    color:black;
    text-transform:Capitalize;
    text-align:center;
    top:30px;
    left:114%;
    position:relative;
   }


.one{
    top:355px;
    left:120px;
    text-align:left;
    font-size:20px;
    font-weight:bold;
    color:black;
    position:absolute;
   
}
.quote{
    font-size:30px;
    top:50px;
    left:60px;
    white-space:nowrap;
    font-family: 'Inter', sans-serif;
    position:relative;
    font-weight:bold;
    text-transform:Capitalize;
    color:rgb(235, 19, 19);
    text-align:center;
}
.mission{
    font-size:30px;
    text-transform:capitalize;
    font-family: 'Inter', sans-serif;
    color:#1430cc;
    top:470px;
    left:35px;
    white-space:nowrap;
   
    position:relative;
}
.about{
    top:110%;
    left:50px;
    position:absolute;
}
.timeline p{
    font-size:50px;
    font-weight:bold;
    text-align:left;
    top:85%;
    line-height:2;
    position:relative;
    
    color:red;
}
.timeline{
    top:120%;
    left:35px;
    position:absolute;
    
}

.timeline ul li{
    padding:10px;
    
   
    

    font-family: 'Inter', sans-serif;
}
.tribute h2{
    font-size:50px;
    font-weight:bold;
    text-align:left;
    color:rgb(235, 19, 19);

}
.tribute{
    font-size:20px;
    top:262%;
    left:25px;
    position:absolute;
    line-height:1.5;
    text-transform:Capitalize;
    overflow-wrap:break-word;
    }
 

.five p{
    font-size:50px;
    font-weight:bold;
    text-align:left;
    top:-50px;
    position:relative;
    line-height:2;
    color:red;
}
.five{
    
    top:350%;
    left:35px;
    position:absolute;
}

.five ul li{
    padding:10px;
    top:-45px;
    position:relative;
    font-family: 'Inter', sans-serif;
}

.mother img{
    width:400px;
    height:420px;
    border:8px solid black;
    top:2290px;
    
    left:440px;
    position:relative;
}
